/* banner area */

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 300px;
}
.banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
  background: #04091e;
  z-index: 1;
}
.banner_area .banner_inner .overlay {
  background: url(../../images/banner/banner.jpg) no-repeat scroll center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}
.banner_area .banner_inner .banner_content h2 {
  color: #fff;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  margin-bottom: 0px;
  font-weight: bold;
}
.banner_area .banner_inner .banner_content .page_link a {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-right: 32px;
  position: relative;
}
.banner_area .banner_inner .banner_content .page_link a:before {
  content: "\e87a";
  font-family: "Linearicons-Free";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.banner_area .banner_inner .banner_content .page_link a:last-child {
  margin-right: 0px;
}
.banner_area .banner_inner .banner_content .page_link a:last-child:before {
  display: none;
}
.banner_area .banner_inner .banner_content .page_link a:hover {
  color: #4dbf1c;
}

/* .home_banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 780px;
} */

/* finance area */

.finance_area {
  background: #f9f9ff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.finance_item .media .d-flex {
  vertical-align: middle;
  align-self: center;
  padding-right: 25px;
}
.finance_item .media .d-flex i {
  font-size: 36px;
  color: #4dbf1c;
}
.finance_item .media .media-body h5 {
  color: #222222;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0px;
}

/* courses area */

.courses_area {
  overflow: hidden;
}

.grid_inner {
  margin-left: -15px;
  margin-right: -15px;
}

.courses_inner {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  margin-bottom: -30px;
}
.courses_inner .courses_item {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  overflow: hidden;
}
.courses_inner .course_item {
  position: relative;
}
.courses_inner .course_item .hover_text {
  padding-left: 20px;
  padding-right: 20px;
}
.courses_inner .hover_text {
  position: absolute;
  left: 0px;
  bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
}
.courses_inner .hover_text .cat {
  display: inline-block;
  background: #4dbf1c;
  color: #fff;
  padding: 0px 25px;
  border-radius: 5px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.courses_inner .hover_text h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  transition: all 300ms linear 0s;
}
.courses_inner .hover_text .list li {
  display: inline-block;
  margin-right: 16px;
}
.courses_inner .hover_text .list li a {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.courses_inner .hover_text .list li a i {
  padding-right: 6px;
}
.courses_inner .hover_text .list li:last-child {
  margin-right: 0px;
}
.courses_inner .hover_text:hover h4 {
  color: #4dbf1c;
}

.wd55 {
  width: 55.55%;
  float: left;
  margin-bottom: 30px;
}

.wd44 {
  width: 44.45%;
  float: left;
  margin-bottom: 30px;
}

/* home banner area */

.home_banner_area {
  position: relative;
  z-index: 1;
  min-height: 780px;
}
.home_banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 780px;
}
.home_banner_area .banner_inner .overlay {
  background: url(../../images/banner/home-banner.jpg)no-repeat scroll center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 121%;
  bottom: 0;
  z-index: -1;
}
.home_banner_area .banner_inner .banner_content {
  color: #fff;
}
.home_banner_area .banner_inner .banner_content h5 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
}
.home_banner_area .banner_inner .banner_content h3 {
  font-size: 42px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  margin-bottom: 20px;
}
.home_banner_area .banner_inner .banner_content p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  max-width: 620px;
  margin: auto;
}
.home_banner_area .banner_inner .banner_content .main_btn {
  margin-top: 40px;
}
/* .header_area + section, .header_area + row, .header_area + div {
    margin-top: 35px;
} */
